<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Date Created</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.date_created }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>